/*
# Sizes
# General
# Colours
    ## Stroke
    ## Fill
# Chart
*/

// # Sizes
.icon-play {
    width: 16rem;
    height: 16rem;
    stroke: $blue;
    stroke-linecap:round;
    stroke-linejoin:round;

    .c1 {
        fill:none;
        stroke-width: 1;
    }

    .c2 {
        fill: $blue;
        fill-opacity: 1;
    }
}

// # Colours
// ## Stroke
.icon-stroke {
    stroke: $blue;
}

// ## Fill
.icon-fill {
    fill: $blue;
}

// # Chart
.chart-container {
    width: 30rem;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    canvas {
        width: 40rem !important;
        height: 20rem !important;
    }
}