/*
# Sizes
# General
# Colours
    ## Stroke
    ## Fill
*/

// # Sizes
.icon-play {
    width: 16rem;
    height: 16rem;
    stroke: $blue;
    stroke-linecap:round;
    stroke-linejoin:round;

    .c1 {
        fill:none;
        stroke-width: 1;
    }

    .c2 {
        fill: $blue;
        fill-opacity: 1;
    }
}

// # Colours
// ## Stroke
.icon-stroke {
    stroke: $blue;
}

// ## Fill
.icon-fill {
    fill: $blue;
}