@import './variables.scss';
@import './icons.scss';
@import './viewport.scss';
@import './strapper.scss';

@import '../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../node_modules/primeicons/primeicons.css';
@import '../../../node_modules/primeng/resources/themes/saga-blue/theme.css';




/*
    # General
        ## Main
        ## Containers
    # Fonts
        ## Font Family
        ## Headers
        ## Labels
        ## Button 
    # Stopwatch-Time
    # Scrollbar
    # PrimeNg Override
*/

// # General

// ## Main
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: $light-grey;
    font-family: 'Poly', serif;
}

// ## Containers
.app-router {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.page {
    height: 100vh;
    width: 100%;
}

.carouselTabContainer {
    .titleContainer {
        height: 20%;
        display: flex;
        label {
            font-weight: 800;
            font-size: 2rem;
        }
    }
    .contentContainer {
        height: 80%;
        overflow: auto;
    }
}

.topFiveContainer {
    display: flex;
    background-color: $white;
    border: 0.8rem solid $blue;
    border-radius: 1.8rem;
    margin-bottom: 2rem;
    margin-right: 1rem;
    overflow: hidden;

    .itemNameContainer {
        width: 50%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        align-items: center;
        label {
            font-weight: 800;
        }
    }
    .timeContainer {    
        width: 40%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        align-items: center;
    }
    .block {
        width: 10%
    }
    .timeContainer label,.itemNameContainer label {
        font-size: 1.4rem;
    }
}

.locationStatsContainer {
    display: block;
    background-color: $white;
    border: 0.8rem solid $blue;
    border-radius: 1.8rem;
    margin-top: 1.5rem;
    overflow: hidden;
    width: 80%;

    .itemNameContainer {
        width: 50%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        label {
            font-weight: 800;
        }
    }
    .timeContainer {    
        width: 40%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
    }
    .block {
        width: 10%
    }
    .timeContainer label,.itemNameContainer label {
        font-size: 1.4rem;
    }
}

//# Fonts
@font-face {
    font-family: 'Poly';
    src: url('../../assets/fonts/Poly-Regular.ttf');
}

@font-face {
    font-family: 'DMSans';
    src: url('../../assets/fonts/DMSans-Regular.ttf');
}

// ## Headers
h1 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.5;
    font-family: 'DMSans';
}

h2 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
    font-family: 'DMSans';
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    font-family: 'DMSans';
}

// ## Labels
label {
    font-size: 1rem;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
    font-family: 'DMSans';
}

// ## Button 
button {
    font-weight: 600;
    font-family: 'DMSans';
}

// ## Stopwatch-Time
.stopwatch-time {
    font-family: 'Poly';
    font-weight: 700;
    .regular {
        font-size: 8rem;
    }
    .small {
        font-size: 7rem;
    }
}

// # Scrollbar
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: lighten($color: $blue, $amount: 5%);
    border-radius: 20px;
    border: transparent;
    &:hover {
        background-color: $blue;
    }
  }

// # PrimeNg Override
.p-dropdown,.p-inputnumber, .p-inputtext {
    background-color: $white;
    width: 20rem;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 0.25rem;
    font-family: 'DMSans';
    border-color: $blue;
}

.p-dropdown-panel {
    background-color: $white;
}

.p-dropdown-panel .p-dropdown-header {
    background-color: $white;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    font-family: 'DMSans';
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: transparent;
    &:hover {
        background-color: lighten($color: $light-grey, $amount: 10%);
    }
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
    background-color: lighten($color: $light-grey, $amount: 10%);
}

.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none;
}

.p-inputswitch {
    width: 6rem;
    height: 2.5rem;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    transform: translateX(3.6rem);
}

.p-inputswitch .p-inputswitch-slider:before {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -0.8rem;
    left: 0.4rem;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background-color: $blue;
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
    background-color: lighten($color: $blue, $amount: 5%);
}

.p-inputswitch .p-inputswitch-slider {
    background-color: $medium-grey;
}

.p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
    background-color: darken($color: $medium-grey, $amount: 5%);
}

.p-inputswitch.p-focus .p-inputswitch-slider{
    box-shadow: none;
}

.switch-text {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem $blue;
}

.p-dropdown:not(.p-disabled):hover {
    border-color: lighten($color: $blue, $amount: 20%)
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
    background: lighten($color: $blue, $amount: 37%);
    font-family: 'DMSans';
    font-size: 1.2rem;
}

.small {
    .p-carousel, .p-carousel-content {
        height: 100%;
        .p-carousel-container {
            height: 85%;
        }
    }
}

.long, .tall {
    .p-carousel, .p-carousel-content {
        height: 100%;
        .p-carousel-container {
            height: 90%;
        }
    }
}

.p-carousel-items-container {
    height: 100%;
}

.p-carousel .p-carousel-content .p-carousel-prev, .p-carousel .p-carousel-content .p-carousel-next {
    background-color: $white;
    border: 0.2rem solid $blue;
}

.p-carousel .p-carousel-content .p-carousel-prev:enabled:hover, .p-carousel .p-carousel-content .p-carousel-next:enabled:hover {
    border-color: lighten($color: $blue, $amount: 5%);
}
.p-carousel .p-carousel-content .p-carousel-prev:focus, .p-carousel .p-carousel-content .p-carousel-next:focus {
    box-shadow: none;
}
.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
    background-color: $blue;
}
.p-link:focus {
    box-shadow: none;
}