@import 'variables.scss';
@import 'icons.scss';
@import './viewport.scss';
@import './strapper.scss';

/*
    # General
        ## Main
        ## Containers
    # Fonts
        ## Headers
        ## Labels
    # Inputs
        ## Input
        ## Buttons
*/

// # General

// ## Main
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

// ## Containers
.app-router {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.page {
    height: 100vh;
    width: 100%;
}

//# Fonts

// ## Headers
h1 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 1.5;
}

h2 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.5;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
}

// ## Labels
label {
    font-size: 1rem;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
}

// # Inputs

// ## Input
input {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0rem;
    font-size: 1rem;
    line-height: 1.5;
    border-width: 0.063rem !important;
    border-style: solid;
    border-radius: 3px;
}