/*
# Viewport-Container
# Short
# Long
# Tall
*/

// # Viewport-Container
.viewport-container {
    display: grid;
    grid-column-gap: 0px;
}

// # Short
.small {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

// # Long
.long {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .grid-item-container:first-child {
        border-right: 8px solid #5484BC;
    }
}

// # Tall
.tall {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .grid-item-container:first-child {
        border-bottom: 8px solid #5484BC;
    }
}