<div class="s-center h25">
   <button class="btn btn-primary mr2" (click)="viewService.currentSmallViewContent = viewService.SmallViewContentEnum.Stopwatch;" [ngClass]="{ 'selected-view': viewService.currentSmallViewContent === viewService.SmallViewContentEnum.Stopwatch }">Stopwatch</button>
   <button class="btn btn-primary" (click)="viewService.currentSmallViewContent = viewService.SmallViewContentEnum.Overview;" [ngClass]="{ 'selected-view': viewService.currentSmallViewContent === viewService.SmallViewContentEnum.Overview }">Overview</button>
</div>
