<div class="s-center h25">
   <s-button class="mr2" [ngClass]="{ 'selected-view': viewService.currentSmallViewContent === viewService.SmallViewContentEnum.Stopwatch }" [buttonType]="enumUIService.ButtonTypeEnum.Primary" text="Stopwatch" (click)="viewService.currentSmallViewContent = viewService.SmallViewContentEnum.Stopwatch;"></s-button>
   <s-button [ngClass]="{ 'selected-view': viewService.currentSmallViewContent === viewService.SmallViewContentEnum.Overview }" [buttonType]="enumUIService.ButtonTypeEnum.Primary" text="Overview" (click)="viewService.currentSmallViewContent = viewService.SmallViewContentEnum.Overview;"></s-button>
</div>
