<span *ngIf="isLoaded">
   <div class="s-center h50">
      <label class="stopwatch-time"><span class="regular">{{ stopwatch.elapsedTime | stopwatch }}</span></label>
   </div>
   <div class="s-center h25">
      <p-dropdown 
         [filter]="true" 
         filterBy="locationName" 
         class="w-100" 
         [options]="locationsGrouped" 
         [(ngModel)]="selectedLocation" 
         optionLabel="locationName" 
         placeholder="Select Location"
         (onChange)="updateIsSelected();"
         [group]="true">
         <ng-template let-group pTemplate="group">
            <div class="p-d-flex p-ai-center">
                <span>{{group.label}}</span>
            </div>
        </ng-template>
      </p-dropdown>
      <!-- <span *ngIf="locationSelected && selectedLocation.questingCompatible" [ngClass]="{ 'ml3': selectedLocation.questingCompatible }">
            <div class="s-center">
               <label class="switch-text">Also Questing</label>
            </div>
            <div class="s-center">
               <p-inputSwitch [(ngModel)]="addToQuestingTime" ngDefaultControl></p-inputSwitch>
            </div>
      </span> -->
   </div>
   <div class="h25 s-center">
      <s-button class="mr1" [buttonType]="enumUIService.ButtonTypeEnum.Primary" text="Add" (click)="addTime();"></s-button>
      <s-button class="mr1" [buttonType]="enumUIService.ButtonTypeEnum.Primary" text="Reset" (click)="stopwatch.resetStopwatch();"></s-button>
      <s-button [buttonType]="enumUIService.ButtonTypeEnum.Primary" text="Resume" (click)="stopwatch.startStopwatch();"></s-button>
   </div>
</span>

<!-- 
   TODO: Add Elvia Realm Check
 -->