<span *ngIf="isLoaded">
   <p-carousel [value]="carouselTabs" [numVisible]="1" [numScroll]="1">
      <ng-template let-tab pTemplate="tab">
         <span class="carouselTabContainer">
            <div class="titleContainer">
               <label class="">{{tab.label}}</label>
            </div>
            <div *ngIf="tab.id == 1" class="contentContainer">
               <div *ngFor="let loc of overviewData.topLocations;" class="topFiveContainer">
                  <div class="block"></div>
                  <div class="itemNameContainer">
                     <label>{{ loc.itemName }}:</label>
                  </div>
                  <div class="timeContainer">
                     <label [innerHTML]="loc.secs | statsTime"></label>
                  </div>
               </div>
            </div>
            <div *ngIf="tab.id == 2" class="contentContainer">
               <div *ngFor="let ter of overviewData.topTerritories;" class="topFiveContainer">
                  <div class="block"></div>
                  <div class="itemNameContainer">
                     <label>{{ ter.itemName }}:</label>
                  </div>
                  <div class="timeContainer">
                     <label [innerHTML]="ter.secs | statsTime"></label>
                  </div>
               </div>
            </div>
            <div *ngIf="tab.id == 3" class="contentContainer">
               <div class="s-center">
                  <p-dropdown 
                  [filter]="true" 
                  filterBy="locationName"
                  [options]="overviewData.allLocations" 
                  [(ngModel)]="selectedLocation" 
                  optionLabel="locationName" 
                  placeholder="Select Location"
                  (onChange)="loadLocation();"
                  [group]="true">
                     <ng-template let-group pTemplate="group">
                        <div class="p-d-flex p-ai-center">
                           <span>{{group.label}}</span>
                        </div>
                     </ng-template>
                  </p-dropdown>
               </div>
               <div *ngIf="locationSelected" class="s-center h80">
                  <div class="locationStatsContainer">
                     <div class="s-flex">
                        <div class="block"></div>
                        <div class="itemNameContainer">
                           <label>{{ selectedLocationStats.location.locationName }}:</label>
                        </div>
                        <div class="block"></div>
                        <div class="timeContainer">
                           <label [innerHTML]="selectedLocationStats.location.locationSecs | statsTime"></label>
                        </div>
                     </div>
                     <div class="s-flex">
                        <div class="block"></div>
                        <div class="itemNameContainer">
                           <label>% of Total Time:</label>
                        </div>
                        <div class="block"></div>
                        <div class="timeContainer">
                           <label>{{ selectedLocationStats.location.locationSecs | totalPercentage: overallTime }}</label>
                        </div>
                     </div>
                     <div class="s-flex">
                        <div class="block"></div>
                        <div class="itemNameContainer">
                           <label>% of {{ selectedLocationStats.territory.territoryName }} Time:</label>
                        </div>
                        <div class="block"></div>
                        <div class="timeContainer">
                           <label>{{ selectedLocationStats.location.locationSecs | totalPercentage: selectedLocationStats.territory.territorySecs }}</label>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div *ngIf="tab.id == 4" class="contentContainer">
               <div class="totalTimeGridContainer">
                  <div *ngFor="let gridItem of overviewData.totalTime" class="gridItem">
                     <span *ngIf="gridItem.secs != 0 else emptySquare">
                        <div class="s-center h25 title">
                           <label>{{ gridItem.label }}</label>
                        </div>
                        <div class="s-center h75 time">
                           <label [innerHTML]="gridItem.secs | statsTime"></label>
                        </div>
                     </span>
                     <ng-template #emptySquare>
                        <div class="s-center h25 title">
                           <label>{{ gridItem.label }}</label>
                        </div>
                        <div class="s-center h75 time">
                           <label>-</label>
                        </div>
                     </ng-template>
                  </div>
               </div>
            </div>
         </span>
      </ng-template>
   </p-carousel>
</span>