<div [ngClass]="viewService.currentViewport !== viewService.ViewportEnum.Small ? 'h100' : 'h75'">
   <div class="s-center h75">
      <s-button *ngIf="stopwatch.isRunning === false" [buttonType]="enumUIService.ButtonTypeEnum.Icon" [iconType]="enumUIService.ButtonIconEnum.Start"></s-button>
      <s-button *ngIf="stopwatch.isRunning === true" [buttonType]="enumUIService.ButtonTypeEnum.Icon" [iconType]="enumUIService.ButtonIconEnum.Stop"></s-button>
   </div>
   <div class="s-center h25">
      <label class="stopwatch-time" [ngClass]="viewService.currentViewport !== viewService.ViewportEnum.Small ? 'mb5' : 'mt5'"><span [ngClass]="stopwatch.elapsedTime > 36000 ? 'small' : 'regular'">{{ stopwatch.elapsedTime | stopwatch }}</span></label>
   </div>
</div>
