<div [ngClass]="viewHandler.viewport !== ViewportEnum.Small ? 'h100' : 'h75'">
   <div class="s-center h75">
      <button *ngIf="stopwatch.isRunning === false" class="btn btn-no-bg" (click)="stopwatch.startStopwatch();">
         <icon-start></icon-start>
      </button>
      <button *ngIf="stopwatch.isRunning === true" class="btn btn-no-bg" (click)="stopwatch.stopStopwatch();">
         <icon-stop></icon-stop>
      </button>
   </div>
   <div class="s-center h25">
      <label class="stopwatch-time" [ngClass]="viewHandler.viewport !== ViewportEnum.Small ? 'mb5' : 'mt5'">{{ stopwatch.elapsedTime | stopwatch }}</label>
   </div>
</div>
